@use "../../../../styles/_variables.scss" as var;

.accueil-container {
    display: flex;
    flex-direction: column;
    background-color: var.$deep-black-color;
    min-height: 100dvh;
}

.accueil-container .nav-container {
    flex-shrink: 0;
}

.accueil-container  .hero-container {
    flex-grow: 1;
    height: calc(100vh - var.$header-client-h);
}

.accueil-container .circlebg {
    background: var.$light-black-color;
}

.linebg {
    position: relative;
}