@import url("../../../../styles/_variables.css");

.circle {
    position: absolute;
    background: radial-gradient(#8e3c4066, var(--deep-black-color));
    border-radius: 50%;
    transform: scale(1);
    animation: scaleCircle 7s infinite alternate ease-in-out;
    filter: blur(5px);
}

@keyframes scaleCircle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
