@use "../../../../styles/_variables.scss" as var;

.nav-container {
    width: 100%;
    max-width: 100%;
    height: var.$header-client-h;
    display: flex;
    justify-content: center;
    background-color: var.$deep-black-color;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.nav-container.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}


.nav-container.hidden {
    transform: translateY(-100%);
  }

.nav-content {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 10px 20px;
}

.nav-logo .icon {
    width: 32px;
    height: 32px;
    color: var.$off-white-color;
    margin-left: 6dvw;
    
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu-item {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var.$off-white-color;
    position: relative;
    transition: color 0.3s ease;
}

.nav-menu-item::after {
    content: '';
    position: absolute;
    top: 1.7rem;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var.$dark-red-color;
    transition: width 0.2s ease, left 0.2s ease;
}

.nav-menu-item:hover::after {
    width: 100%;
    left: 0;
}

.nav-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.contact-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: var.$off-white-color;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}


.contact-button .icon {
    width: 20px;
    height: 20px;
}

.header-spacer {
    width: 100%;
    height: var.$header-client-h;
  }
