@import url("../../../../styles/_variables.css");


.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(#8e3c403a, var(--deep-black-color));
    border-radius: 50%;
    transform: scale(1);
    animation: scaleCircle 5s infinite alternate ease-in-out;
    filter: blur(8px);
}

.circle1 {
    top: 40%;
    left: 16%;
}

.circle3 {
    top: calc(10% + 3rem);
    right: 16%;
    transform: translateY(-50%) scale(1);
}

@keyframes scaleCircle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.vertical-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.vertical-lines div {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    animation: moveLines 8s linear infinite;
}


.vertical-lines .line1 {
    left: 20%;
}

.vertical-lines .line2 {
    left: 40%;
}

.vertical-lines .line3 {
    left: 60%;
}

.vertical-lines .line4 {
    left: 80%;
}

@keyframes moveLines {

    25% { transform: translateX(-20px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(20px); }
    100% { transform: translateX(0); }
}