.statistique-content {
	transition: margin-left 0.3s ease-in-out;
	margin-left: 0;
	margin-top: 50px;
	padding: 20px; 
}

.statistique-content.menu-open {
	margin-left: 250px; 
}


@media (max-width: 768px) {
	.statistique-content.menu-open {
		margin-left: 200px; 
	}
	.nav-bar {
		width: 200px;
	}
}
  
@media (max-width: 576px) {
	.statistique-content.menu-open {
		margin-left: 150px; 
	}
	.nav-bar {
		width: 150px;
	}
}
h3{
	color: #c26c17;
	font-weight: bold;
	font-size: 20px;
}
.statistique-row1{

}
.stat-courbe-anne{
	width: 60%;
	float: left;
}
.chart-area{
	width: 800px;
	z-index: 1;
}
.stat-vente-mois{
	float: left;
	width: 40%;
}
.chart-area.menu-open{
	width: 650px;
}
