$light-background: #fff;

$light-text: #fff;
$dark-text: #000;
$dark-green: #0b480d; 
$light-green: #8cb686;
$off-white:#e5ca9f;
$light-orange:#eac376;
$dark-orange:#c26c17;

$header-client-h: 5.6rem;

