:root {
    --success-color: #57ab5a;
    --gold-color: #D4AF37;
    --dark-red-color: #8E3C40;
    --off-white-color: #E7DDDE;
    --light-gray-color: #8E8E8F;
    --dark-gray-color: #323232;
    --dark-gold-color: #20202079;
    --deep-black-color: rgb(12, 12, 12);

    --header-client-h: 5.6rem;
}

