@use "../../../../styles/_variables.scss" as var;

.shop-container {
    min-height: 100vh;

    .shop-content  {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .content {
            min-width: 20rem;
            width: 80%;

            .product-content {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1.5rem; 
                border-bottom-left-radius: .4rem;
                border-bottom-right-radius: .4rem;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                .product-shop {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}