.dashboard-content {
	transition: margin-left 0.3s ease-in-out;
	margin-left: 0;
	margin-top: 50px;
	padding: 20px; 
}

.dashboard-content.menu-open {
	margin-left: 250px; 
}


@media (max-width: 768px) {
	.dashboard-content.menu-open {
		margin-left: 200px; 
	}
	.nav-bar {
		width: 200px;
	}
}
  
@media (max-width: 576px) {
	.dashboard-content.menu-open {
		margin-left: 150px; 
	}
	.nav-bar {
		width: 150px;
	}
}

.card-affaire {
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 38%; 
	height: 130px;
	float: left;
	text-align: left;
	transition: all 0.3s ease;
	margin-left: 20px; 
	background-color: white;
}

.card-rigth {
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 58%; 
	float: left;
	text-align: left;
	transition: all 0.3s ease;
	margin-left: 10px;
	background-color: white;
}
.card-rigth.menu-open{
	width: 57%; 
}
.card-affaire.menu-open{
	width: 40%; 
}
.card-affaire.menu-open h3{
	font-size: 20px;
}
.card-rigth.menu-open li {
	font-size: 17px;
}

.card-affaire h3 {
	color: #343a40;
	font-size: 1.5rem;
	margin-bottom: 10px;
	font-weight: 600;
}

.card-affaire p {
	color: #0b480d;
	font-size: 22px;
	font-weight: bold;
}

#year{
	font-size: 1rem;
	margin-left: 20px;
}

.liste-nombre{
	float: left;
	width: 50%;
}
.stat-product{
	float:left;
	width: 50%;
}

.liste-nombre ul li{
	list-style: none;
	padding: 10px;
	font-size: 18px;
	font-weight: bold
}

.liste-nombre span{
	color: #0b480d;
}
.card-title{
	text-align: center;
}
.card-title span{
	color: #c26c17;
	font-weight: bold;
}

.card-commande {
	border-radius: 8px;
	box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid rgb(226, 226, 226);
	padding: 20px;
	width: 38%; 
	float: left;
	text-align: left;
	transition: all 0.3s ease;
	margin-left: 20px; 
	margin-top: -210px;
	background-color: white;
}
.bg-secondary{
	background-color: #0b480d !important;
}

.card-commande.menu-open{
	margin-top: -180px;
	width: 40%;
}

.list-groupa {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-groupa-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.list-groupa-item:last-child {
    margin-bottom: 0;
}

.badge {
    font-size: 0.875rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
}
.card-chiffre-produit{
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 98%; 
	margin-top: 15px;
	text-align: left;
	transition: all 0.3s ease;
	margin-left: 20px; 
	background-color: white;
}
.card-chiffre-produit .list-groupa-item{
	margin-bottom: 0px;
}



  